.step{
    background-color: lightgrey;
    border-radius: 4px;
    padding: 4px 2px;
    margin: 4px 2px;

    @include element(time-input){
        text-align: right;
        max-width: 50%;
        padding: 0px;
    }

    @include element(time-label){
        max-width: 30%;
    }
    
    @include element(delete){
        max-width: 10%;
    }

    @include element(move-up){
        max-width: 10%;
    }

    @include element(move-down){
        max-width: 10%;
    }
}

.recipe{
    background-color: darkgrey;
    margin: 2px;
    padding: 2px;
}

.recipes{
    flex-wrap:nowrap;
}