.step{
    background-color: lightgrey;
    border-radius: 4px;
    padding: 4px 2px;
    margin: 4px 2px;
    @include element(time-input){
        max-width: 75%;
        padding: 0px;
    }

    @include element(time-label){
        max-width: 25%;
    }
}

.recipe{
    background-color: darkgrey;
    margin: 2px;
    padding: 2px;
}

.recipes{
    flex-wrap:nowrap;
}